<div style="padding: 0; margin: 0; border: none; border-collapse: collapse; box-sizing: border-box;">
	<div style="font-size: 16px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.63; letter-spacing: normal; color: #161616; margin: 20px 0;">
		<div style="color:#000;">{=userName} 님, 이메일 인증번호가 발급되었습니다.</div>
		<div style="color:#000;">아래 인증번호를 확인하여 이메일 주소 인증을 완료해 주세요.</div>
		<div style="color:#000;">감사합니다.</div>
	</div>

	<div style="border-top: solid 1px #979797; border-bottom: solid 1px #979797; margin: 20px 0; padding: 20px; font-size: 14px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.71; letter-spacing: normal; color: #161616;">
		<div>
			<span style="width: 100px; display: inline-block; color:#000;">이메일</span>
			<span style="font-weight: bold; color:#000;">{=email}</span>
		</div>
		<div>
			<span style="width: 100px; display: inline-block; color:#000;">인증번호</span>
			<span style="font-weight: bold; color:#000;">{=authKey}</span>
		</div>
	</div>
</div>
