
<link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css"
	rel='stylesheet' type='text/css'>

<body>
	<table
		style="width: 600px; height: 700px; border: 1px solid #c9c9c9; border-collapse: collapse; font-family: 'Noto Sans KR', sans-serif !important; background-color: #fff;">
		<tr style="width: 100%; height: 100px; background-color: #8053e9;">
			<td style="padding: 20px 50px;">
				<img style="width: 40px; height: 45px; vertical-align: middle; margin-right: 10px;" src="{=logoImg}">
				<h1 style="margin: 0; height: 36px; font-size: 24px; font-weight: 500; font-stretch: normal; font-style: normal; letter-spacing: 6px; color: #ffffff; display: inline-block; vertical-align: bottom;">MOYAMO</h1></td>
		</tr>
		<tr style="width: 100%; height: 450px; background-image: url({=backgroundImg}); background-position: bottom; background-repeat: no-repeat; vertical-align: top;">
			<td style="padding: 20px 50px;">
				<div style="box-sizing: border-box; padding: 0; height: 36px; font-size: 24px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 36px; vertical-align: bottom; letter-spacing: normal; color: #161616; border-bottom: 0px solid rgba(133, 214, 172, 0.4); display: inline-block;">
					<span style="padding: 0 5px; color: #000;">{=title}</span>
					<hr style="border: 9px solid rgba(128, 83, 233, 0.3); margin: 0; position: relative; top: -16px; z-index: -1;">
				</div>
				{=content}
			</td>
		</tr>

		<tr style="height: 150px; background-color: #f9fafc;">
			<td style="padding: 20px 50px;">
				<div style="font-size: 12px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; color: #666666;">
					<h1 style="color: #000; font-size: 12px; margin: 0;">(주)모야모랩</h1>
				</div>
				<div style="font-size: 12px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; color: #666666;">
					<div style="color: #666666;">본 메일은 발신전용입니다.</div>
					<div style="color: #666666;">모야모 관련 궁금한 점이 있으시면 아래 고객센터로 문의주세요.</div>
					<div style="color: #666666;">고객센터 : no-reply@moyamolab.com</div>
				</div>
				<div style="margin: 20px 0 0 0; font-size: 12px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; color: #666666;">
					Copyright © Moyamo Lab Corp. All rights reserved.
				</div>
			</td>
		</tr>
	</table>


</body>
