<div style="padding: 0; margin: 0; border: none; border-collapse: collapse; box-sizing: border-box;">
	<div style="font-size: 16px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.63; letter-spacing: normal; color: #161616; margin: 20px 0;">
		<div style="color:#000;">본 메일은 비밀번호 변경을 위해 발송되는 메일입니다.</div>
		<div style="color:#000;">새로운 비밀번호를 사용하시려면 아래 버튼을 클릭해주세요.</div>
	</div>

	<div style="border-top: solid 0px #979797; border-bottom: solid 0px #979797; margin: 20px 0; padding: 20px; font-size: 14px; font-weight: 300; font-stretch: normal; font-style: normal; line-height: 1.71; letter-spacing: normal; color: #161616;">
		<div style="text-align: center;">
			<a style="display:inline-block; padding:10px 83px; background-color: #8053e9; border: 0; color: #fff; font-size: 15px; font-weight: bold; text-decoration:none; color: #fff;" href="{=s3path}?q={=password}">비밀번호 재설정</a>
		</div>
	</div>
</div>
